# Airflow connectors

apache-airflow-providers-postgres==5.11.0
apache-airflow-providers-amazon==8.20.0
apache-airflow-providers-apache-spark==4.8.0

# Storage and computing
pyspark==3.5.1
minio>=7.2.0
pyarrow==14.0.2
s3fs==2024.2.0
boto3==1.33.13
polars==0.20.31
duckdb==1.0.0

# Data analysis
pandas==2.1.4
numpy==1.26.4
plotly==5.22.0

# dbt & DuckDB
dbt-core==1.8.2
dbt-duckdb==1.8.2

dbt-osmosis==1.1.16

# Other tools
cuallee==0.10.3
requests